.mainContainer {
	height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.image {
	position: absolute;
	height: 100vh;
	object-fit: cover;
	filter: blur(8px);
	z-index: -1;
}
