.mainContainer {
	height: 95vh;
	overflow: hidden;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.image {
	position: absolute;
	height: 100vh;
	object-fit: cover;
	filter: blur(8px);
}